:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --darkgreen: #ffa600;
  --palegreen: #00b383;
  --mainBlockBckClr: #00b3835f;
  --layoutBackground: #00674b;
  --grey: linear-gradient(#5555556c, #9696966c);
  --darkGreenGradient: linear-gradient(var(--darkgreen), var(--palegreen));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin main-block {
  background: var(--mainBlockBckClr);
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 20px 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.305);
}

@mixin buttons {
  padding: 8px;
  border-radius: 20px;
  background: none;
  border: 1px solid white;
  &:hover {
    transition: background 0.5s;
    background: white;
    color: black;
  }
}

.layout {
  background: var(--darkGreenGradient);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &__icon {
    filter: blur(0.6px);
    transform: scale(4);
    position: relative;
    left: 65vw;
    top: 60vh;
  }
}

.authorization {
  @include main-block;
  width: 300px;
  height: 150px;
  &__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__input {
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    background: white;
    width: 100%;
    padding: 10px;
  }
  &__button {
    @include buttons;
  }
  &__error {
    color: white;
    background: red;
    font-size: 0.5rem;
    width: 100%;
    border-radius: 20px;
    padding: 1px 3px;
    text-align: center;
  }
}

.home {
  @include main-block;
  width: 600px;
  height: 600px;
  &__header {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    @include buttons;
  }
  &__notifications {
    border: 1px solid black;
    max-height: 120px;
    overflow-y: scroll;
  }
  .blockmenu {
    border: 1px solid black;
    height: 150px;
    &__itemblocks {
      border: 1px solid black;
      height: 70%;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
    }
  }
}

.blockitem {
  width: 90px;
  height: 90px;
  background: var(--grey);
  margin: 3px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
  gap: 5px;
  &__icon {
    width: fit-content;
    margin: 0 auto;
  }
  &__suggestion {
    font-size: 9px;
  }
}

.footer {
  width: 100%;
  background: #0000005e;
  position: fixed;
  bottom: 0;
}
